header{
	width: 100%;
	height: 40px;

	border-bottom: solid 4px ;
}
a:link {
	color:#3C3C3C;
	text-decoration:underline;
}
a:visited {
	color:#0000FF;
	text-decoration:none;
}
a:hover {
	color:#FF00FF;
	text-decoration:none;
}
a:active {
	color:#D200D2;
	text-decoration:none;
}
.member_wrap{
	
}
.header_item{
	overflow: hidden;
}
.user_menu{
	width: 100%;
	height: 170px;
	padding: 20px 0;
	background:url(../images/banner_bg.html) repeat;
}
.header_item{
	
	width: 980px;
	margin: 0 auto;
}
.menu_head{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	border: solid 3px #fff;
	overflow: hidden;
}
.menu_head img{
	width: 100%;
	height: 100%;
}
.menu_info{
	width:840px;
	margin-left: 20px;	
}
.info_name{
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	color: #fff;
}
.info_name_box{
	margin-top: 10px;
}
.level{
	font-size: 14px;
	color: #f60;
	font-weight: bold;
}
.info_desc{
	margin-top: 10px;
	font-size: 14px;
	color: #FFF;
}
.banner_menu{
	width: 980px;
	height: 50px;
	margin: 20px auto;
	background: #fff;
}


.nav_box{
	margin-top: 50px;
}
.nav_box ul {
	overflow: hidden;
}
.nav_box ul li{
	display: block;
	padding: 0 20px;
}
.nav_box ul li a{
	color: #fff;
	font-size: 16px;
}
.nav_box ul li a:hover{
	color: red;
}





.login_wrap{
	background: url(../images/logo_bg.jpg) no-repeat center;
	background-size: 100%;
	background-attachment: fixed;
}
.login_wrap1{
	background: url(../images/logo_bag.jpg) no-repeat center;
	background-size: 100%;
	background-attachment: fixed;
}
.login_wrap2{
	background: url(../images/logo_hbg.png) no-repeat center;
	background-size: 100%;
	background-attachment: fixed;
}
.logo{
	width: 500px;
	height: 150px;
	margin: 0px auto;
	background: url(../images/logowz.png) no-repeat center;
	background-attachment: fixed;
}
.login_box{
	width: 360px;
	background: #FFFFFF;
	margin: 0px auto;
}
.login_title{
	font-size: 25px;
	text-align: center;
	color: #FF7F50;
	padding: 15px 0;
	width: 300px;
	margin: 0 auto;
	border-bottom: solid 1px #CCCCCC;
}
.form_text_ipt{
	width: 300px;
	height: 40px;
	border: solid 1px #CCCCCC;
	margin: 20px auto 0 auto;
	background: #FFFFFF;
}
.form_check_ipt{
	width: 300px;
	margin:  10px auto;
	overflow: hidden;
}
.form_text_ipt input{
	width: 290px;
	height: 30px;
	margin: 5px;
	border: none;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #666;
}
.check_left label{
	cursor: pointer;
}
.check_left label input{
	position: relative;
	top: 2px;
}
.form_btn{
	width: 300px;
	height: 40px;
	margin:  10px auto;
}
.form_btn button{
	width: 100%;
	height: 100%;
	border: none;
	color: #FFFFFF;
	font-size: 14px;
	background: #FF7F50;
	cursor: pointer;
}
.form_reg_btn{
	width: 300px;
	margin: 0 auto;
	font-size: 14px;
	color: #666;
}
.other_login{
	overflow: hidden;
	width: 300px;
	height: 80px;
	line-height: 80px;
	margin: 0px auto;
}
.other_left{
	font-size: 14px;
	color: #999;
}

.other_right a{
	margin:5px;
	color:#636363;
}

.other_right a:hover{
	color:#AEEEEE;
}
/**
  *放置input的div盒子
  *1.此处应我的项目需要，加了些特别的设置，如字体、背景色等，按需添加；
  *2.内层input不加边框，看起来效果会自然一点，所以外层div设置了边框和圆角
*/
.box{
	border: 5px solid #eeeeee;
	border-radius: 20px;
	font-size: 15px;
	text-align: center;
}

/**
  *label标签样式 放在.box下，不至于影响其他的label
  *采取绝对定位，位置根据需求确定
*/
.box label{
	z-index: 2;
	position: absolute;
	left: 50%;
	margin-left: -8%;
	color: #B2B2B2;
	top: 1.3rem;
	font-weight: normal;
}

/**
  *input标签样式
  *宽度适应外层div
  *隐藏边框
  *这里有个小技巧，height与line-height值相等，可保证文字垂直居中；但我发现文字比图标略偏下，进行了微调；
*/
.box input{
	text-indent: 15px;
	height: 3.5rem;
	line-height: 3.7rem;
	width: 100%;
	border: none;
	outline: none;
}

/**
  *图标样式
  *绝对定位，自定义颜色
*/
.box i{
	position: absolute;
	top: 1.6rem;
	left: 45%;
	margin-left: -15%;
	color: #B2B2B2;
}
